name: Usage Test
permissions: read-all

on:
  workflow_dispatch:
  merge_group:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DEBIAN_FRONTEND: noninteractive
  CMAKE_GENERATOR: Ninja
  TARGET_LLVM_VERSION: 17

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ github.repository_owner == 'intel' && 'intel-' || '' }}ubuntu-22.04
    steps:
      - name: Install build tools
        run: |
          wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh ${{env.TARGET_LLVM_VERSION}}
          sudo apt install -y python3-pip ninja-build clang-tidy-${{env.TARGET_LLVM_VERSION}} clang-format-${{env.TARGET_LLVM_VERSION}}

      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18

      - name: Install Mermaid
        run: |
          sudo npm install -g @mermaid-js/mermaid-cli@10.6.1
          node /usr/local/lib/node_modules/@mermaid-js/mermaid-cli/node_modules/puppeteer/install.js

      - name: Install asciidoctor
        run: |
          sudo apt update && sudo apt install -y asciidoctor
          sudo gem install asciidoctor asciidoctor-diagram rouge

      - name: Install cmake-format
        run: |
          sudo pip3 install --upgrade pip
          sudo pip3 install pyyaml cmake-format
          echo "${HOME}/.local/bin" >> $GITHUB_PATH

      - name: Install python quality tools
        run: |
          sudo pip3 install pytest pytest-forked hypothesis mypy black

      - name: Checkout target branch
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          ref: ${{github.base_ref}}

      - name: Extract target branch SHA
        run: echo "branch=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
        id: target_branch

      - name: Checkout PR branch
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Configure cmake for lib
        env:
          CC: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang"
          CXX: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang++"
          PR_TARGET_BRANCH: ${{ steps.target_branch.outputs.branch }}
        working-directory: ${{github.workspace}}/test/library
        run: cmake -Bbuild

      - name: Check lib quality
        working-directory: ${{github.workspace}}/test/library
        run: cmake --build build -t ci-quality

      - name: Build lib docs
        working-directory: ${{github.workspace}}/test/library
        run: cmake --build build -t docs

      - name: Configure cmake for app
        env:
          CC: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang"
          CXX: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang++"
          PR_TARGET_BRANCH: ${{ steps.target_branch.outputs.branch }}
        working-directory: ${{github.workspace}}/test/application
        run: cmake -Bbuild

      - name: Build app and run tests
        working-directory: ${{github.workspace}}/test/application
        run: |
          cmake --build build -t build_unit_tests
          ctest --test-dir build

      - name: Check app quality
        working-directory: ${{github.workspace}}/test/application
        run: cmake --build build -t ci-quality

      - name: Verify app setup
        working-directory: ${{github.workspace}}/test
        run: ./verify_links.sh

  sanitize:
    runs-on: ${{ github.repository_owner == 'intel' && 'intel-' || '' }}ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [undefined, address]

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Install build tools
        run: |
          wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh ${{env.TARGET_LLVM_VERSION}}
          sudo apt install -y ninja-build clang-tidy-${{env.TARGET_LLVM_VERSION}} clang-format-${{env.TARGET_LLVM_VERSION}}

      - name: Configure cmake for app
        env:
          CC: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang"
          CXX: "/usr/lib/llvm-${{env.TARGET_LLVM_VERSION}}/bin/clang++"
          SANITIZERS: ${{matrix.sanitizer}}
        working-directory: ${{github.workspace}}/test/application
        run: cmake -Bbuild

      - name: Build app and run tests
        working-directory: ${{github.workspace}}/test/application
        run: cmake --build build -t cpp_tests
